<div class="container">
<div class="forms">
        <div class="mat-headline"> Añadir Post </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="formulary"  #formDirective="ngForm" >
        <mat-form-field >
            <mat-label>Title</mat-label>
            <input class="ancho" matInput formControlName="title" autocomplete="off" type="text"/>
        </mat-form-field>
            <br/>
        <mat-form-field>
            <mat-label>Body</mat-label>
            <textarea class="ancho" matInput autocomplete="off" formControlName="body" type="text"></textarea>
            <!--<mat-hint></mat-hint> -->
        </mat-form-field>
        <br/>
        <div class="submit-clear">
            <button mat-raised-button (click)="openDialog()" color="primary" type="submit" [disabled]="form.invalid"> Guardar </button>
            <button mat-raised-button type="reset" > Borrar</button>
        </div>
        </form>
    </div>
</div>
