.name{
    text-align: justify;
    display: flex;
    font-weight: 800;
    flex-direction: column;
}
.cmentario{
    margin-bottom: 2rem;
    padding: 1rem;
    border-bottom: gray 2px solid;
    border-radius: 20px;
    box-shadow: 2px 5px gray;
}
.comment-body{
    font-family: "Source Sans Pro", "Arial", sans-serif;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 2rem;
    margin-right: 2rem;
    
}